numpy
pandas
matplotlib
seaborn
scikit-learn
imbalanced-learn
xgboost
scikit-optimize
sklearn-genetic-opt
ydata-profiling
scipy
Sphinx
myst-parser
rst2pdf
streamlit
urllib3
ipywidgets
ipykernel
scikit-posthocs